.idea/
**/__pycache__/
__pycache__/

**/db.sqlite3
request.log

media/*
!media/default
static
*.json

venv/
.env
temp/

.pytest_cache
.coverage
htmlcov

volumes_data/

celerybeat-schedule

docker-compose.override.yml